@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes h3fadein {
    0% {
      opacity: 0;
      transform: translateY(24px);
      filter: blur(8px);
    }
    60% {
      opacity: 1;
      filter: blur(2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  .animate-h3fadein {
    animation: h3fadein 0.7s cubic-bezier(0.22,0.68,0.52,1.01) both;
  }
}
